$light-blue: #68c5ff;
$twitter-blue: #1da1f2;
$white: #fff;
$dark-grey: #313131;

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: $light-blue;
}

body * {
    padding: 0;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.height-auto {
    height: auto;
    overflow: auto;
}

.twitter-button {
    padding: 10px 30px;
    background-color: $twitter-blue;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.35s ease-in-out;

    &:hover {
        background-color: darken($twitter-blue, 10%);
    }
}

.wrap {
    display: block;
    width: 100%;
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.header,
.footer {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.header h1 {
    font-family: 'Roboto Slab';
}

.intro {
    width: 100%;
    margin: 10px 0;
}

//ew
.chain-wrap {
    p {
        width: 100%;
        margin-bottom: 20px;
    }
}

.textarea {
    width: 100%;
    max-width: 500px;
    height: 300px;
    clear: both;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.2);
    border: none;
    padding: 20px;
}

.sections {
    display: block;
    clear: both;
    width: 100%;
    text-align: center;

    li {
        width: 100%;
    }
}

.section {
    width: 100%;
    max-width: 500px;
    height: auto;
    overflow: auto;
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
    background-color: rgba(255,255,255,0.2);
    padding: 20px;
}
