body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #68c5ff; }

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

p {
  margin-bottom: 20px; }

.hide {
  display: none; }

.show {
  display: inline-block; }

.height-auto {
  height: auto;
  overflow: auto; }

.align-center {
  text-align: center; }

.full {
  width: 100%; }

.twitter-button {
  padding: 10px 30px;
  background-color: #1da1f2;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.35s ease-in-out; }
  .twitter-button:hover {
    background-color: #0c85d0; }

.wrap {
  width: 100%;
  max-width: 640px;
  padding: 20px;
  margin: 0 auto;
  text-align: center; }

.header,
.footer {
  padding: 30px 0; }

.header .h1 {
  font-family: Roboto Slab, Georgia, serif; }

.intro {
  margin: 10px 0; }

.chain-wrap {
  transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1;
  max-height: 3000px; }
  .chain-wrap.isHidden {
    max-height: 0;
    opacity: 0; }

.textarea {
  height: 300px;
  clear: both;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 20px; }

.section {
  margin-bottom: 20px;
  text-align: left;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px; }

.results {
  opacity: 0;
  visibility: none;
  transition: opacity 0.35s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .results.isActive {
    opacity: 1;
    background-color: #fff;
    color: #1da1f2; }
  .results.isError {
    opacity: 1;
    background-color: #ff2437;
    color: #fff; }

@media screen and (min-width: 1920px) {
  .wrap {
    max-width: 960px; } }

@media screen and (min-width: 2560px) {
  .wrap {
    max-width: 1280px; } }
